# huge data files
data/raw/*
data/processed/*
data/viz/*
outputs/maps/*

# keep the empty folders so we still have the structure on git 
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/viz/.gitkeep
!outputs/maps/.gitkeep

# secrets
config/secrets.yaml
.env

# system junk
.DS_Store # Mac junk
__pycache__/ # files compiled by python to run faster
*.pyc
.ipynb_checkpoints/

